[submodule "external/catch2"]
	path = lovely/external/catch2/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "external/imgui"]
	path = lovely/external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/curl"]
	path = lovely/external/curl
	url = git@github.com:curl/curl.git
